.notificationInfo {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--main-border-color);
  flex: 1 0 0;
}

.notificationBar__container {
  border-bottom: 1px solid var(--main-border-color);
  margin-bottom: 0.5rem;
}

.notificationBar__wrapper {
  display: flex;
  flex-direction: row;
  padding: 0.5rem 1rem;
}

.notificationBar__icon {
  padding: 0.2rem;
}

.notificationBar__icon > i {
  font-size: 2rem;
  padding: 0.8rem;
  cursor: initial;
}

.notificationBar__message {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex: 1 0 0;
}

.notifications {
  flex: 1 0 80vh;
  border: 1px solid var(--main-border-color);
  overflow-y: scroll;
}
